@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

@import "partials/_vars";

@import "components/main-wraper";
@import "components/headers";
@import "components/breadcrumbs";
@import "components/cards";
@import "components/tables";
